.main {
	padding: 20px;
	padding-top: 80px;
	width: 960px;
	height: 590px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.6);
}
.wh{
	height: 300px;
	width: 960px;
	display: flex;
	justify-content: space-between;
}
.text {
	font-size: 17px;
	width: 660px;
	margin-left: 45px;
}
p {
	font-size: 21px;
	color: black;
}
.bcg {
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.m1 {
	background-image: url(../img/dt-1.png);
}
.m2 {
	background-image: url(../img/dt-int.png);
}
.psb {
	left: 50%;
}